@import url("https://fonts.cdnfonts.com/css/nunito-sans");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@theme {
  --color-grayish-black: #262626;
  --color-wash-purple: #6255ed;
  --color-wash-black: #141414;
  --color-wash-white: #fcfcfc;
  --color-greenish-black: #454545;
  --color-adminOrderBg: #897527;
  --color-adminOrderBgTwo: #7c4191;
  --color-adminOrderBgThree: #43868a;
}

:root {
  font-family: "Nunito Sans", sans-serif;

  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --laundryWashGrayishBlack: #262626;
  --laundryWashPurple: #6255ed;
  --laundryWashBlack: #141414;
  --laundryWashWhite: #fcfcfc;
  --laundryWashGreen: #454545;
  --laundryAdminOrderBg: #897527;
  --laundryAdminOrderBgTwo: #7c4191;
  --laundryAdminOrderBgThree: #43868a;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--laundryWashBlack);
}

.auth-background {
  background-image: url("/LaundryMachine.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #514b82;
  animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
}
@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }
  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }
  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}

@media (min-width: 1024px) {
  .auth-layout {
    background-image: none;
  }
}
